<% layout('layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
        <h3 style="color: #fe424d;">Create new Lisiting:</h3>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-info mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="newListing[title]" placeholder="enter title" id="title" class="form-control" required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Please enter a Title</div>
                    </div>
                    <div class="form-info mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="newListing[description]" placeholder="enter description" rows="3" cols="15" id="description" class="form-control" required></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">Too Short Description!</div>
                    </div>
                    <div class="form-info mb-3">
                        <label for="image" class="form-label">Upload Listing Image:</label>
                        <input type="file" name="newListing[image]" id="image" class="form-control" required>
                        <div class="invalid-feedback">Please upload a flie!</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-info mb-3">
                        <label for="title" class="form-label">Select Categories:</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Trending" id="trending">
                                    <label class="form-check-label" for="trending">
                                      Trending
                                    </label>
                                  </div>
                                  <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Lake" id="lake">
                                    <label class="form-check-label" for="lake">
                                      Lake
                                    </label>
                                  </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Mountains" id="mountains">
                                    <label class="form-check-label" for="mountains">
                                      Mountains
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Camping" id="camping">
                                    <label class="form-check-label" for="camping">
                                      Camping
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Forest" id="forest">
                                    <label class="form-check-label" for="forest">
                                      Forest
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Snow" id="snow">
                                    <label class="form-check-label" for="snow">
                                      Snow
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Cities" id="cities">
                                    <label class="form-check-label" for="cities">
                                      Cities
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check mb-2"> 
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Foreign" id="foreign">
                                    <label class="form-check-label" for="foreign">
                                      Foreign
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Landmarks" id="landmarks">
                                    <label class="form-check-label" for="landmarks">
                                      Landmarks
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Nature" id="nature">
                                    <label class="form-check-label" for="nature">
                                      Nature
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Boating" id="boating">
                                    <label class="form-check-label" for="boating">
                                      Boating
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Luxury" id="luxury">
                                    <label class="form-check-label" for="luxury">
                                      Luxury
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="newListing[category]" value="Castle" id="castle">
                                    <label class="form-check-label" for="castle">
                                      Castle
                                    </label>
                                </div>
                            </div>
                        </div>                          
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">    
                    <div class="form-info mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" name="newListing[price]" placeholder="enter price" id="price" class="form-control">
                        <div class="valid-feedback">Default Price: &#8377; 500</div>
                    </div>
                </div>
        
                <div class="col-md-8">
                    <div class="form-info mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="newListing[country]" placeholder="enter country" id="country" class="form-control" required>
                        <div class="valid-feedback">Country looks good!</div>
                        <div class="invalid-feedback">Please enter a Country</div>
                    </div>
                </div>
            </div>
        
            
            <div class="form-info mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" name="newListing[location]" placeholder="enter location" id="location" class="form-control" required>
                <div class="valid-feedback">Location looks good!</div>
                <div class="invalid-feedback">Please enter a Location</div>
            </div>
            <button class="btn btn-dark" style="background-color: #fe424d;">Add</button>
        </form>
    </div>
</div>
